header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

div.calender {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

div.date-square {
  border: 1px solid black;
  height: 90px;
  width: 90px;
}

div.date-square.selected {
  background-color: dodgerblue;
}
