.calender{
  margin: 0 auto;
  padding-top: 30px;
}

header {
  background: dodgerblue;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

div.calender {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

div.date-square {
  border: 1.5px solid black;
  height: 90px;
  width: 90px;
}
div.date-square:hover {
  border: 1.5px dotted #5851ff;
  height: 90px;
  width: 90px;
}

div.date-square.selected {
  background-color: dodgerblue;
}

p.DoW{
  text-decoration: underline;
}
